{% extends "account/base.html" %}
{% load static %}
<!--
"""/***************************************************************************************
*  REFERENCES
*  Title: How to Build Chat into Django Applications with Twilio Programmable Chat
*  Author: Kevin Ndung'U
*  Date: November 11, 2022
*  URL: https://www.twilio.com/blog/2018/05/build-chat-python-django-applications-programmable-chat.html
*
*  Repository: chat-django
*  Author: Kevin Gathuku (kevgathuku)
*  Date: November 11, 2022
*  URL: https://github.com/kevgathuku/chat-django
*
*  Description: Utilized to create the chat room html
*
***************************************************************************************/"""
//-->
<!DOCTYPE html>
<html>
{% block content %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css" />
  <style>
    .rounded-edges {
      border-radius: 0.25rem;
    }
  </style>
  <title>All Chat Rooms</title>
</head>

<body>
  <section class="hero is-info">
    <div class="hero-body has-text-centered">
      <div class="container">
        <h1 class="title is-2">
          Twilio Chat
        </h1>
        <h2 class="subtitle is-5">
          All courses which you have joined have a chatroom shown below.
          <br/>
        </h2>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="columns">
        {% for room in rooms %}
        <div class="column">
          <div class="card rounded-edges">
            <div class="card-content">
              <p class="title is-4">{{room.name}}</p>
              <div class="content">
                <p>
                  {{room.description}}
                </p>
                <a href="/rooms/{{room.slug}}" class="button">Send a message in this chat now</a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
</body>
{% endblock %}
</html>
