{% extends "socialaccount/base.html" %}
{% load i18n %}
<!--
"""/***************************************************************************************
*  REFERENCES
*  Repository name: django-allauth
*  Author: Raymond Penners
*  Date: October 22, 2022
*  URL: https://github.com/pennersr/django-allauth/blob/master/allauth/templates/socialaccount/login.html
*
*  Description: Utilized to provide an override template for the Google Login.
*  Specifically allowed me to modify the preset Google login HTML
*
*  Website name: Bootstrap
*  Date: December 6, 2022
*  URL: https://getbootstrap.com/docs/5.0/getting-started/introduction/
*
*  Description: Utilized to create cleaner HTML for the website
*
***************************************************************************************/"""
//-->
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
{% if process == "connect" %}
<h1 class="text-center pt-2 pb-3">{% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}</h1>

<p class="text-center pt-2 pb-3">{% blocktrans with provider.name as provider %}You are about to connect a new third party account from {{ provider }}.{% endblocktrans %}</p>
{% else %}
<h1 class="text-center pt-2 pb-3">{% blocktrans with provider.name as provider %}Sign In Via {{ provider }}{% endblocktrans %}</h1>

<p class="text-center pt-2 pb-3">{% blocktrans with provider.name as provider %}You are about to sign in using a third party account from {{ provider }}.{% endblocktrans %}</p>
{% endif %}

<form method="post" class="text-center pt-2 pb-3">
  {% csrf_token %}
  <button type="submit" class="primaryAction btn btn-outline-danger">{% trans "Continue" %}</button>
</form>
{% endblock %}
