<!--
"""/***************************************************************************************
*  REFERENCES
*  Repository name: django-allauth
*  Author: Raymond Penners
*  Date: October 22, 2022
*  URL: https://github.com/pennersr/django-allauth/blob/master/allauth/templates/account/password_reset.html
*
*  Description: Utilized to provide an override template for the Google Login.
*  Specifically allowed me to modify the preset the password reset request HTML
*
*  Website name: Bootstrap
*  Date: December 6, 2022
*  URL: https://getbootstrap.com/docs/5.0/getting-started/introduction/
*
*  Description: Utilized to create cleaner HTML for the website
*
***************************************************************************************/"""
//-->
{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

    <h1 class="text-center pt-2 pb-3">Password Reset</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p class="login alert alert-warning d-grid col-7 mx-auto pb-3">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset login d-grid col-6 mx-auto pt-3">
        {% csrf_token %}
        <p class="mb-3">
            <label for="id_email" class="form-label">Email address</label>
            <input type="email" name="email" class="form-control" required id="id_email">
        </p>
        <input class="btn btn-outline-primary d-grid col-5 mx-auto pt-2" type="submit" value="{% trans 'Reset My Password' %}" />
    </form>

{% endblock %}
