<!--
"""/***************************************************************************************
*  REFERENCES
*  Repository name: django-allauth
*  Author: Raymond Penners
*  Date: October 22, 2022
*  URL: https://github.com/pennersr/django-allauth/blob/master/allauth/templates/account/password_reset_done.html
*
*  Description: Utilized to provide an override template for the Google Login.
*  Specifically allowed me to modify the preset the completed password reset HTML
*
*  Website name: Bootstrap
*  Date: December 6, 2022
*  URL: https://getbootstrap.com/docs/5.0/getting-started/introduction/
*
*  Description: Utilized to create cleaner HTML for the website
*
***************************************************************************************/"""
//-->

{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <h1 class="text-center pt-2 pb-3">Password Reset</h1>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p class="alert alert-warning text-center d-grid col-9 mx-auto p-2">{% blocktrans %}We have sent you an e-mail. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}</p>
{% endblock %}
