<!--
"""/***************************************************************************************
*  REFERENCES
*  Repository name: django-allauth
*  Author: Raymond Penners
*  Date: October 22, 2022
*  URL: https://github.com/pennersr/django-allauth/blob/master/allauth/templates/account/signup.html
*
*  Description: Utilized to provide an override template for the Google Login.
*  Specifically allowed me to modify the preset signup page HTML
*
*  Website name: Bootstrap
*  Date: December 6, 2022
*  URL: https://getbootstrap.com/docs/5.0/getting-started/introduction/
*
*  Description: Utilized to create cleaner HTML for the website
*
***************************************************************************************/"""
//-->

{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<h1 class="text-center pt-2 pb-3">Sign Up</h1>

<div class="login alert alert-warning d-grid col-5 mx-auto text-center pb-1">
  <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
</div>

<form class="signup d-grid col-6 mx-auto" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  <p class="mb-2">
    <label for="id_email" class="form-label">Email</label>
    <input type="email" name="email" class="form-control" required id="id_email">
  </p>
  <p class="mb-2">
    <label for="id_username" class="form-label">Username</label>
    <input type="text" name="username" class="form-control" required id="id_username">
  </p>
  <p class="mb-2">
    <label for="id_password1" class="form-label">Password</label>
    <input type="password" name="password1" class="form-control" required id="id_password1">
  </p>
  <p class="mb-2">
    <label for="id_password2" class="form-label">Password (Again)</label>
    <input type="password" name="password2" class="form-control" required id="id_password2">
  </p>
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="btn btn-outline-success d-grid col-5 mx-auto p-2" type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>

{% endblock %}
